#draw-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#draw-container button {
    height: 300px;
    width: 200px;
    background-color: lightgrey;
}

#draw-container .winner {
    background-color: lightgreen;
}

#draw-container .looser {
    background-color: red;
}

#draw-container div {
    display: flex;
    justify-content: center;
}

#start-game-btn {
    width: 200px;
    height: 100px;
}

@media screen and (max-width: 800px) {
    body {
        padding: 0;
        margin: 0;
        display: flex;
        height: 100vh;
    }

    #desktop-help {
        display: none;
    }
}

@media screen and (max-width: 800px) and (orientation: landscape) {

    body {
        flex-direction: column;
    }

    #draw-container {
        flex-grow: 1;
    }

    #draw-container button {
        height: 100vh;
        width: 20vw;
    }

    #start-game-btn {
        display: block;
        position: absolute;
        align-self: center;
        bottom: 0;
        width: 40vw;
        height: 20vh;
    }
}

@media screen and (max-width: 800px) and (orientation: portrait) {

    #draw-container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #draw-container button {
        width: 100vw;
        height: 20vh;
    }

    #start-game-btn {
        position: fixed;
        align-self: center;
        width: 20vw;
        height: 40vh;
        left: 0;
    }
}

